swagger: '2.0'
info:
    description: 'API for the peoples project'
    version: fadf01f
    title: 'Project People, gotta to know the people you work with'
    termsOfService: 'http://people.frankablat.online'
    contact:
        email: mirzatsoft@gmail.com
    license:
        name: 'The MIT License (MIT)'
        url: 'https://www.mit-license.org/'
host: people.frankablat.online
basePath: /v2
tags:
    -
        name: auth
        description: Authentication
schemes:
    - https
    - http
paths:
    /auth/login:
        post:
            tags:
                - auth
            summary: 'Add a new pet to the store'
            description: ''
            operationId: addPet
            consumes:
                - application/json
                - application/xml
            produces:
                - application/xml
                - application/json
            parameters:
                -
                    in: body
                    name: body
                    description: 'Pet object that needs to be added to the store'
                    required: true
                    schema:
                        $ref: '#/definitions/Pet'
            responses:
                405:
                    description: 'Invalid input'
            security:
                -
                    petstore_auth:
                        - 'write:pets'
                        - 'read:pets'
securityDefinitions:
    petstore_auth:
        type: oauth2
        authorizationUrl: 'http://petstore.swagger.io/oauth/dialog'
        flow: implicit
        scopes:
            'write:pets': 'modify pets in your account'
            'read:pets': 'read your pets'
    api_key:
        type: apiKey
        name: api_key
        in: header
definitions:
    Category:
        type: object
        properties:
            id:
                type: integer
                format: int64
            name:
                type: string
        xml:
            name: Category
    User:
        type: object
        properties:
            id:
                type: integer
                format: int64
            username:
                type: string
            firstName:
                type: string
            lastName:
                type: string
            email:
                type: string
            password:
                type: string
            phone:
                type: string
            userStatus:
                type: integer
                format: int32
                description: 'User Status'
        xml:
            name: User
    ApiResponse:
        type: object
        properties:
            code:
                type: integer
                format: int32
            type:
                type: string
            message:
                type: string
